<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
    </configSections>

    <log4net>
        <appender name="DebugLog" type="log4net.Appender.RollingFileAppender">
            <file value="../Log/Debug.log" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="60" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="false" />
            <!-- <lockingModel type="log4net.Appender.FileAppender+MinimalLock" /> -->
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[%d][t:%-3.3t][%5p][%-45.45logger] %m%n" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin" value="DEBUG" />
                <param name="LevelMax" value="DEBUG" />
                <AcceptOnMatch value="true"/>
            </filter>
        </appender>
        <appender name="AllLog" type="log4net.Appender.RollingFileAppender">
            <file value="../Log/All.log" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="60" />
            <maximumFileSize value="20MB" />
            <staticLogFileName value="false" />
            <!-- <lockingModel type="log4net.Appender.FileAppender+MinimalLock" /> -->
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[%d][t:%-3.3t][%5p][%-45.45logger] %m%n" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin" value="DEBUG" />
                <param name="LevelMax" value="FATAL" />
                <AcceptOnMatch value="true"/>
            </filter>
        </appender>
        <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
            <file value="../Log/Error.log" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="20" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="false" />
            <!-- <lockingModel type="log4net.Appender.FileAppender+MinimalLock" /> -->
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[%d][t:%-3.3t][%5p][%-45.45logger] %m%n" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin" value="WARN" />
                <param name="LevelMax" value="FATAL" />
                <AcceptOnMatch value="true"/>
            </filter>
        </appender>
        <appender name="InfoLog" type="log4net.Appender.RollingFileAppender">
            <file value="../Log/Info.log" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="60" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="false" />
            <!-- <lockingModel type="log4net.Appender.FileAppender+MinimalLock" /> -->
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[%d][t:%-3.3t][%5p][%-45.45logger] %m%n" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin" value="INFO" />
                <param name="LevelMax" value="INFO" />
                <AcceptOnMatch value="true"/>
            </filter>
        </appender>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[%d][t:%-3.3t][%5p][%-45.45logger] %m%n" />
            </layout>
        </appender>
        <root>
            <appender-ref ref="DebugLog" />
            <appender-ref ref="AllLog" />
            <appender-ref ref="ErrorLog" />
            <appender-ref ref="InfoLog" />
            <appender-ref ref="ConsoleAppender" />
        </root>
    </log4net>

</configuration>
